In [122]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [123]:
print("Train shape:", X_train_sm.shape)
print("Test  shape:", X_test.shape)

Train shape: (179250, 33)
Test  shape: (29694, 33)

In [124]:
scaler = StandardScaler()

In [125]:
X_train_scaled = scaler.fit_transform(X_train_sm)
X_test_scaled  = scaler.transform(X_test)

In [126]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train_sm.columns)
X_test_scaled  = pd.DataFrame(X_test_scaled,  columns=X_test.columns)

In [127]:
print("Train scaled preview:")
display(X_train_scaled.head())

Train scaled preview:

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,1.407239,0.0,-3.509585,1.469367,-0.309262,-0.491574,0.223437,-0.173036,-0.050779,0.501952,...,-1.075754,1.485268,0.900091,-0.994548,0.588991,0.775171,0.257575,1.195832,0.027958,0.510414
1,-0.896554,0.0,3.344551,-0.506937,-0.309262,1.199328,1.128343,-0.173036,-0.050779,-1.992223,...,-0.126248,-0.315474,0.790281,1.005482,1.278706,0.775171,0.524130,1.195832,0.027958,0.042796
2,0.344739,0.0,-0.082517,1.469367,-0.309262,-0.491574,0.223437,-0.173036,-0.050779,0.501952,...,-1.110282,-0.315474,-1.707903,-0.994548,1.278706,0.775171,-0.988405,1.195832,0.027958,0.978033
3,-1.230603,0.0,-0.082517,1.469367,-0.309262,-0.491574,0.223437,-0.173036,-0.050779,0.501952,...,-0.747743,-0.315474,-1.195455,1.005482,0.588991,0.775171,-1.197131,1.195832,0.027958,-0.307918
4,-0.315949,0.0,-0.082517,0.481215,-0.309262,-0.491574,-1.586374,-0.173036,-0.050779,0.501952,...,0.288081,1.485268,-0.884326,-0.994548,-1.480152,-1.290039,1.004738,-0.993229,0.027958,-0.775537

In [128]:

print("Test scaled preview:")
display(X_test_scaled.head())

Test scaled preview:

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,dtir1
0,-1.158048,0.0,-0.082517,-0.506937,-0.309262,-0.491574,0.223437,-0.173036,-0.050779,0.501952,...,1.462016,0.584897,-0.582348,1.005482,-0.100723,0.775171,0.069433,-0.993229,0.027958,0.042796
1,-1.624444,0.0,-0.082517,0.481215,-0.309262,-0.491574,0.223437,-0.173036,-0.050779,0.501952,...,-0.747743,-1.215845,-1.607244,-0.994548,0.588991,0.775171,0.443889,-0.993229,0.027958,-0.892442
2,0.448453,0.0,-0.082517,1.469367,-0.309262,-0.491574,1.128343,-0.173036,-0.050779,0.501952,...,1.824554,-0.315474,0.049061,1.005482,-0.790438,0.775171,-0.753735,1.195832,0.027958,-2.178394
3,-0.105178,0.0,-0.082517,1.469367,-0.309262,-0.491574,1.128343,-0.173036,-0.050779,0.501952,...,-0.333413,1.485268,1.668763,1.005482,-0.790438,0.775171,-0.168664,1.195832,0.027958,-0.307918
4,-1.313537,0.0,-0.082517,-0.506937,-0.309262,-0.491574,1.128343,-0.173036,-0.050779,0.501952,...,2.515104,-1.215845,-0.765365,1.005482,-0.100723,-1.290039,-0.933617,-0.993229,0.027958,-1.009347